<!--The content below is only a placeholder and can be replaced.-->

<div class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" href="">
      <img src="../assets/Oleet_logo_justificado.png" alt="Logo Oleet">
    </a>
  </div>
  <div class="navbar-end">
    <div class="navbar-item">
      <a href="">PORTIFÓLIO</a>
    </div>
    <div class="navbar-item">
      <a href="">SOBRE</a>
    </div>
    <div class="navbar-item">
      <a href="">CONTATO</a>
    </div>
  </div>
</div>

<app-landing-page></app-landing-page>  

<router-outlet></router-outlet>
