<div class="container" style="text-align: center">
    <h1 class="title">
        NOSSOS CASES DE SUCESSO
    </h1>
    <h2 class="subtitle">
        Texto de exemplo para o layout!
    </h2>
</div>

<!-- <div class="columns"> -->
<div class="container">
    <section *ngFor="let projects of projectList index as i" class="section">
        <div class="column is-4 is-offset-1">
            <figure class="image">
                <img src="../../assets/espacoconvivencia.jpg" alt="Foto do Projeto">
            </figure>
            <h1>{{name}} {{i + 1}}</h1>
            <h3>{{title[i]}}</h3>
            <h3>{{projectText}}</h3>
            <!-- </div> -->
        </div>
    </section>
</div>